@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightBlue: #0080ff2d;
  --blue: rgb(37 99 235);
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}
ul li .active {
  position: relative;
  background-color: var(--lightBlue);
  color: var(--blue);
}
ul li .active::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--blue);
  /* border-radius: 0px 5px 5px 0px; */
  left: 0px;
}

.selected {
  background: var(--lightBlue);
}

.detail_product img {
  width: 300px;
  padding: 1.5rem;
}
